{% extends "general/template.html" %}

{% block content %}
<div class="card">
    <div class="header" id=header>
        <h4 class="title">Nova Tarefa</h4><br>
    </div>
    <div class="content">

        <form method="post" action=".">
            {% csrf_token %}
            <!-- {{ form.non_field_errors }} -->
            <div class="form-group">
                {% for error in form.title.errors %}
                <div class="alert alert-danger"role="alert">{{error}}</div>
                {% endfor %}
                <label for="{{ form.title.id_for_label }}">Título:</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                {% for error in form.planned_date.errors %}
                <div class="alert alert-danger"role="alert">{{error}}</div>
                {% endfor %}
                <label for="{{ form.planned_date.id_for_label }}">Data de Entrega:</label>
                {{ form.planned_date }}
            </div>


            <div class="form-group">
                {% for error in form.complexity.errors %}
                <div class="alert alert-danger"role="alert">{{error}}</div>
                {% endfor %}
                <label for="{{ form.complexity.id_for_label }}">Complexidade:</label>
                {{ form.complexity }}
            </div>

            <div class="form-group">
                {% for error in form.description.errors %}
                <div class="alert alert-danger"role="alert">{{error}}</div>
                {% endfor %}
                <label for="{{ form.description.id_for_label }}">Descrição:</label>
                {{ form.description }}
            </div>

            <input formnovalidate class="btn btn-fill btn-default" type="submit" value="Salvar" />
        </form>
    </div>
</div>


{% endblock %}

{% block javascript %}
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=updlo0r454d4jrh4kff0wnptddzz2tl2ybqvqi5fyq7262kk"></script>
{% endblock %}
