{% extends "general/template.html" %}

{% block title %}
<center><h1>Tarefas</h1></center>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Minhas Tarefas</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th>Título</th>
                        <th>Entrega Planejada</th>
                        <th>Entrega Realizada</th>
                        <th>Complexidade</th>
                        <th>Status</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for topic in list_topics %}
                          <tr data-href="{% url 'show_topic' topic.id %}">
                            <td><a class="text-primary" href="{% url 'show_topic' topic.id %}">{{topic.title}}</a></td>
                            <td>{{topic.planned_date}}</td>
                            {%if topic.delivery_date %}
                              <td>{{topic.delivery_date}}</td>
                            {%else%}
                            <td>D:</td>
                            {%endif%}
                            <td>{{topic.get_complexity_display}}</td>
                            <td>
                               {% if topic.completed %}
                                 <i class="fa fa-check fa-2x text-success"></i>
                               {%else%}
                                 Em andamento
                               {%endif%}
                            </td>
                            <td>
                              <a href="#">
                                <i class="fa fa-pencil fa-2x text-warning"></i>
                              </a>
                            </td>
                            <td>
                              <a href="javascript:void(0)" data-target="#delete_confirmation_topic" data-toggle="modal" data-id={{topic.id}} onclick="setid({{topic.id}})">
                                <i class="fa fa-trash fa-2x text-danger"></i>
                              </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<center><a href="{% url 'create_topic' %}"> <button class="btn dropdown-toggle btn-outline-success" type="button">Nova Tarefa</button></a></center>
{% endblock %}


{% block modal %}
  <div class="modal fade" id="delete_confirmation_topic">
      <script>
        var topicId = null;
        function setid(id) {
          topicId = id;
        }
        function getId() {
          var a = document.getElementById('delete-link');
          var href = a.href.replace('/0/', '/' + topicId + '/');
          a.href = href;
        }
      </script>
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Confirmar Deleção</h4>
        </div>
        <div class="modal-body">
          Você deseja realmente apagar seu tópico? Essa ação é irreversível.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a id="delete-link" href="{% url 'delete_topic' 0 %}" onclick="getId()" class="btn btn-danter">Deletar</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
