{% load static %}
<div class="row">
  <div class="col-md-4 text-center animated bounce">
    <i class="icon ion-document-text"></i>
    <h4>Tarefas</h4>
    <p>Crie tarefas com recompensas</p>
  </div>
  <div class="col-md-4 text-center animated bounce">
    <i class="icon ion-android-arrow-up"></i>
    <h4>Ranking</h4>
    <p>Incentive e acompanhe o desempenho</p>
  </div>
  <div class="col-md-4 text-center animated bounce">
    <i class="icon ion-ribbon-b"></i>
    <h4>Ranking</h4>
    <p>Seja ranqueado pela a sua atividade na plataforma. Receba pontos e conquistas pelos conteúdos estudados e exercícios solucionados.</p>
  </div>
</div>
<hr>
<footer class="footer">
  <p>&copy; EJ+ 2018</p>
</footer>
