{% extends "about/template.html" %}

{% block content %}
<!-- Introduction Row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Sobre Nós
              </h1>
    <p>O EJ+ é uma ferramenta que auxilia Emprasas Juniores a ter uma melhor experiência no gerenciamento de tarefas.</p>
  </div>
</div>

<!-- Team Members Row -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Time</h2>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://i.imgur.com/Xvt00KN.png" alt="">
    <h3>Allan Nobre
      <br>
                  <small>Desenvolvedor</small>

              </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://imgur.com/SPId8b7.png" alt="">
    <h3>Cecília Dib
      <br>
                  <small>Desenvolvedor</small>
              </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://imgur.com/MFv0RWD.png" alt="">
    <h3>Elmar Caixeta
      <br>
                  <small>Desenvolvedor</small>
              </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://imgur.com/eafyhb3.png" alt="">
    <h3>Lucas Amoêdo
      <br>
                  <small>Desenvolvedor</small>
              </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://imgur.com/nGMHOHE.png" alt="">
    <h3>Phelipe Werner
      <br>
      <small>Desenvolvedor</small>
              </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://imgur.com/zecAOdb.png" alt="">
    <h3>Stefânia Bezerra
      <br>
                  <small>Desenvolvedor</small>
              </h3>
  </div>
</div>

<hr>

{% endblock %}
