{% extends "landing/template.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-7 hero">

    </div>
    <div class="col-md-6" id="description">
      <br>
      <br>
      <h1><b>Otimize sua equipe</b></h1>
      <h3>O EJ Mais é uma plataforma que ajuda empresas juniores com uma nova experiência para gerenciar tarefas</h3>
      <br>
      <br>
    </div>
  </div>

  {% block javascript %} {% if messages %} {% for message in messages %}
  <script>
    $.notify({
      icon: 'glyphicon glyphicon-star',
      message: '{{ message }}'
    }, {
      placement: {
        from: "top",
        align: "center"
      }
    });
  </script>
  {% endfor %} {% endif %} {% endblock %}

</div>
{% endblock %}
